@media (min-width: 1399.98px) {
}
@media (min-width: 1199.98px) {
}
@media (min-width: 1023.98px) {
}
@media (min-width: 991.98px) {
}
@media (min-width: 767.98px) {
  header .navmenu {
    display: none;
  }
}
@media (min-width: 575.98px) {
}

@media (max-width: 1399.98px) {
}
@media (max-width: 1199.98px) {
  section[data-section="left-contxt"] {
    --gap: 80px;
  }
}
@media (max-width: 1023.98px) {
  section[data-section="portfolio-list"] .tab-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 991.98px) {
  :root {
    --p-block: 3rem;
    --p-inline: 1.5rem;

    --size-label: 0.7rem;
    --size-accordion-title: 2.5rem;
  }
  .img-container {
    flex-direction: column;
  }
  .img-container figure {
    width: 100%;
    padding-top: 73.6503856041%;
    order: 1;
  }
  .img-container p {
    order: 2;
  }
  .row {
    flex-wrap: wrap;
  }
  header .logo img {
    height: 2.5rem;
  }
  section[data-section="home-hero"] .container {
    padding: 2rem;
  }
  section[data-section="home-expertise"] {
    padding-right: 0;
  }
  section[data-section="home-expertise"] .grid-expertise {
    width: max-content;
  }
  section[data-section="home-expertise"] .expertise-item {
    max-width: 313px;
    max-height: 375px;
  }
  section[data-section="home-expertise"] .expertise-item:last-child {
    margin-right: 20px;
  }
  section[data-section="left-contxt"] .learnmore-section {
    height: 100%;
    padding: var(--p-inline-mobile);
  }
  section[data-section="left-contxt"] > p {
    padding-inline: var(--p-inline);
    margin-left: 0;
  }
  section[data-section="left-contxt"] .learnmore-section .wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  section[data-section="left-contxt"] .learnmore-section .wrapper > * {
    margin: 0;
  }
  section[data-section="left-contxt"] .get-in-touch {
    padding: var(--p-block) var(--p-inline);
  }
  section[data-section="contact-content"] {
    padding-block: var(--p-block-mobile);
  }
  section[data-section="contact-content"] .content {
    flex-direction: column;
    grid-gap: 4rem;
  }
  section[data-section="contact-content"] .content > div {
    width: 100% !important;
  }
  section[data-section="portfolio-info"] .container {
    width: 100%;
  }
  section[data-section="portfolio-info"] .iconlist {
    flex-direction: column;
    grid-gap: 1rem;
  }
  footer .container {
    grid-gap: 3rem;
  }
  footer .container > p {
    text-align: center;
  }
  footer .container > .wrapper {
    flex-direction: column;
    grid-gap: 3rem;
  }
  footer .container > .wrapper .iso img {
    margin: 0 auto;
  }
  main#about .paragraph {
    width: 100%;
  }
}
@media (max-width: 767.98px) {
  header ul {
    display: none;
  }
  header .navmenu {
    display: flex;
  }
  section[data-section="home-hero"] {
    height: 100%;
    max-width: 100%;
    flex-direction: column;
  }
  section[data-section="home-hero"] > * {
    width: 100%;
  }
  section[data-section="home-hero"] .container {
    padding: 2.5rem var(--p-inline-mobile);
    height: 100vh;
  }
  section[data-section="home-expertise"] {
    padding: var(--p-block-mobile) var(--p-inline-mobile) 80px;
    padding-right: 0;
    overflow-y: hidden;
  }
  section[data-section="home-expertise"] > *:not(div) {
    width: 100%;
    padding-right: var(--p-inline-mobile);
  }
  section[data-section="left-contxt"] > p {
    padding: 0 var(--p-inline-mobile);
  }
  section[data-section="contxt-2"] {
    padding-block: var(--p-block);
    gap: 40px;
  }
  section[data-section="contxt-2"] .banner:before {
    font-size: 1.5rem;
  }
  footer .menu {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 575.98px) {
  header {
    padding: var(--p-header-mobile);
  }
  .fluid-heading-1 {
    font-size: calc(
      48px + (64 - 48) * ((100vw - 300px) / (1440 - 300))
    ) !important;
  }
  .fluid-heading-2 {
    font-size: calc(
      30px + (40 - 30) * ((100vw - 300px) / (1440 - 300))
    ) !important;
  }
  .fluid-heading-2 {
    font-size: calc(
      24px + (32 - 24) * ((100vw - 300px) / (1440 - 300))
    ) !important;
  }
  .fluid-body,
  .fluid-txt {
    font-size: calc(
      14px + (18 - 14) * ((100vw - 300px) / (1440 - 300))
    ) !important;
  }
  section[data-section="home-hero"] .hero-img {
    max-height: 506px;
  }
  section[data-section="left-contxt"] .learnmore-section,
  section[data-section="left-contxt"] .get-in-touch {
    margin-block: var(--p-block-mobile);
    padding: var(--p-inline-mobile);
  }
  footer .container {
    padding: 4rem 2rem 2rem;
  }
  section[data-section="portfolio-list"] .tab-content {
    grid-template-columns: 1fr;
  }
}
