:root {
  --c-accent100: #212529;
  --c-accent85: #424649;
  --c-darkgrey: #a6a6ab;
  --c-lightgrey: #f4f4f4;
  --c-white: #fff;

  --size-h1: 4rem;
  --size-h2: 2.5rem;
  --size-h3: 2rem;
  --size-body: 18px;
  --size-label: 14px;
  --size-accordion-title: 3rem;

  --size-body-lh: 25px;
  --size-label-lh: 20px;

  --duration-1: 0.4s;
  --duration-2: 0.6s;
  --duration-3: 0.8s;
  --timing: ease;

  --p-header: 2% 6%;
  --p-header-mobile: 1.5rem;
  --p-block: 140px;
  --p-block-mobile: 6rem;
  --p-bottom: 4rem;
  --p-inline: 100px;
  --p-inline-mobile: 1.5rem;

  --banner-h: 640px;
  --banner-h-mobile: 100vh;
}
/* RESET HTML */
/* Box sizing rules */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}
/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}
/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}
/* A elements that don't have a class get default styles */
a,
a:not([class]) {
  text-decoration-skip-ink: auto;
  text-decoration: none;
  color: currentColor;
}
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}
/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}
/* END: RESET HTML */
body {
  font-family: "Inter Tight", sans-serif;
  font-weight: 300;
  min-height: 100vh;
}
header {
  height: fit-content;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--p-header);
  color: var(--c-white);
  /* mix-blend-mode: difference; */
  z-index: 99;
}
header ul {
  display: flex;
  grid-gap: 2rem;
}
header ul li a {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
header .navmenu {
  background: none;
  border: 0;
  padding: 0.5rem;
}
header .navmenu img {
  width: 3rem;
  height: 3rem;
}
main {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
header .logo-container {
  filter: invert(1);
}
/* GLOBAL */
.header {
  min-height: 640px;
  padding: 5% var(--p-inline) var(--p-bottom);
  display: flex;
  align-items: end;
}
.header .contxt {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.header.black {
  background: var(--c-accent100);
  color: var(--c-white);
}
.header.light {
  background: var(--c-lightgrey);
  color: var(--c-accent100);
}
.fluid-heading-1,
.fluid-heading-2,
.fluid-heading-3 {
  font-weight: 300 !important;
}
.fluid-heading-1 {
  font-size: var(--size-h1);
}
.fluid-heading-2 {
  font-size: var(--size-h2);
}
.fluid-heading-3 {
  font-size: var(--size-h3);
}
.fluid-body,
.fluid-txt {
  font-size: var(--size-body);
  line-height: var(--size-body-lh);
}
.fluid-label {
  font-size: var(--size-label);
  line-height: var(--size-label-lh);
}
.img-container {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 100%;
  text-align: end;
  gap: 1.25rem;
  color: var(--c-darkgrey);
  font-size: var(--size-label);
}
.img-container figure {
  position: relative;
  padding-top: 51.6503856041%;
  width: 70%;
  height: auto;
}
.img-container figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.accordion {
  color: var(--c-accent100);
  background: transparent;
  font-size: var(--size-accordion-title);
  text-align: start;
  text-transform: capitalize;
  padding-block: 1.5rem;
  border: 0;
  border-top: 1px solid var(--c-darkgrey);
}
.row {
  display: flex;
  grid-gap: 20px;
  align-items: center;
  font-size: var(--size-body);
  line-height: var(--size-body-lh);
  text-align: start;
}
/* END: GLOBAL */
/* HERO */
section[data-section="home-hero"] {
  height: 100dvh;
  background-color: var(--c-accent100);
  display: flex;
  flex-wrap: wrap;
}
section[data-section="home-hero"] * {
  transition: var(--duration-1) var(--timing);
}
section[data-section="home-hero"] > * {
  width: 50%;
  height: inherit;
  overflow: hidden;
}
section[data-section="home-hero"] .container {
  padding: 5% var(--p-inline);
  display: flex;
  flex-direction: column;
  justify-content: end;
}
section[data-section="home-hero"] .container .contxt {
  text-transform: capitalize;
  color: var(--c-white);
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
section[data-section="home-hero"] .hero-img figure {
  width: 100%;
  height: 100%;
}
section[data-section="home-hero"] .hero-img figure > * {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: bottom center;
}
/* END: HERO */
section[data-section="home-expertise"] {
  padding: var(--p-block) var(--p-inline);
  display: flex;
  flex-direction: column;
  grid-gap: 2.5rem;
}
section[data-section="home-expertise"] p {
  width: 55%;
}
section[data-section="home-expertise"] .grid-expertise {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.25rem;
}
section[data-section="home-expertise"] .scrolling-ctn {
  overflow-x: auto;
}
section[data-section="home-expertise"] .expertise-item {
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
}
section[data-section="home-expertise"] .expertise-item * {
  width: inherit;
  height: inherit;
}
section[data-section="left-contxt"] {
  --gap: 155px;
  --max-w: 787px;

  min-height: 100vh;
}
section[data-section="left-contxt"] {
  min-height: 100%;
}
section[data-section="left-contxt"] .services {
  min-height: 100%;
}
section[data-section="left-contxt"] > p {
  max-width: var(--max-w);
  margin-left: calc((380px + var(--gap)) + var(--p-inline));
  padding-inline-end: var(--p-inline);
}
section[data-section="left-contxt"] .learnmore-section {
  height: 590px;
  background: var(--c-lightgrey);
  margin-top: 200px;
  padding-inline: var(--p-inline);
}
section[data-section="left-contxt"] .learnmore-section .wrapper {
  display: flex;
  grid-gap: var(--gap);
}
section[data-section="left-contxt"] .learnmore-section .wrapper > * {
  margin-top: -4rem;
}
section[data-section="left-contxt"] .learnmore-section .wrapper > *:is(img) {
  height: 100%;
}
section[data-section="left-contxt"] .learnmore-section .context {
  display: flex;
  flex-direction: column;
  grid-gap: 40px;
  max-width: 787px;
  margin: auto 0;
}
section[data-section="left-contxt"] .get-in-touch,
section[data-section="left-contxt"] .view-port {
  max-width: var(--max-w);
  padding-inline: var(--p-inline);
  margin-block: 100px var(--p-block);
  display: flex;
  flex-direction: column;
  grid-gap: 40px;
}
main#about > section *,
main#services > section * {
  transition: var(--duration-1) var(--timing);
}
main#about .paragraph {
  width: 55%;
}
section[data-section="content"] {
  padding: var(--p-block) var(--p-inline) 0;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
section[data-section="content"].services {
  padding: 0 var(--p-inline) !important;
}
section[data-section="contxt-2"] {
  padding: var(--p-block) var(--p-inline) var(--p-inline);
  display: flex;
  flex-direction: column;
  gap: 100px;
}
section[data-section="contxt-2"] .banner {
  position: relative;
  padding-top: 40.243902439%;
  background: url("../media/about-2.png") center center / cover no-repeat;
  border-radius: 0.5rem;
}
section[data-section="contxt-2"] .banner:before {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "Building the future of energy evolution";
  color: var(--c-white);
  font-size: 2.5rem;
  text-align: center;
  transition: var(--duration-1) var(--timing);
}
section[data-section="contxt-2"] .paragraph {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
section[data-section="contxt-2"] .paragraph p {
  margin-left: auto;
}
section[data-section="accordion"] {
  padding: var(--p-inline);
  display: flex;
  flex-direction: column;
}
section[data-section="port-hero"] {
  position: relative;
  background: url("../media/portfolio-banner.png") center center / cover
    no-repeat;
  color: var(--c-white);
  z-index: 0;
}
section[data-section="port-hero"] .contxt {
  position: relative;
  z-index: 2;
}
section[data-section="port-hero"] .container:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  z-index: 1;
}
section[data-section="contact-content"] {
  padding: var(--p-inline) var(--p-inline) var(--p-block);
  display: flex;
  flex-direction: column;
  grid-gap: 100px;
}
section[data-section="contact-content"] .content {
  display: flex;
  grid-gap: 20px;
}
section[data-section="contact-content"] .content .info,
section[data-section="contact-content"] .content .info > div {
  display: flex;
  flex-direction: column;
  grid-gap: 4rem;
}
section[data-section="contact-content"] .content .info > div {
  grid-gap: 40px;
}
section[data-section="contact-content"] .content .info {
  width: 39.10060975609756%;
}
section[data-section="contact-content"] .content .form {
  width: 60.8993902439%;
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}
section[data-section="contact-content"] .map-container {
  display: flex;
  grid-gap: 20px;
}
section[data-section="contact-content"] .map-container img {
  width: 100%;
  height: 100%;
}
section[data-section="contact-content"] .map-container figure:nth-child(1) {
  width: 75%;
}
section[data-section="contact-content"] .map-container figure:nth-child(2) {
  width: 25%;
}
/* BUTTON */
.btn {
  width: fit-content;
  padding: 1rem 2.5rem;
  font-size: var(--size-body);
  line-height: var(--size-body-lh);
  background: var(--c-white);
  color: var(--c-accent100);
  text-align: center;
  border-radius: 4rem;
}
.btn.black {
  background: var(--c-accent100);
  color: var(--c-white);
}
.btn.contact {
  background: rgba(255, 255, 255, 0.3);
  color: var(--c-white);
  border: 1px solid var(--c-lightgrey);
}
.btn-2 {
  font-size: var(--size-body);
  line-height: var(--size-body-lh);
  text-transform: capitalize;
  border-bottom: 1.5px solid var(--c-lightgrey);
}
.btn-2::after {
  content: "";
}
/* END: BUTTON */
/* INPUT */
input[type="text"],
textarea {
  padding: 10px;
  border: 1px solid var(--c-lightgrey);
  width: 100%;
  outline: none;
}
input[type="text"]::placeholder,
textarea::placeholder {
  color: var(--c-darkgrey);
}
.container.checkbox {
  height: 2rem;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding-left: 2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container.checkbox p {
  margin-left: 1.5rem;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border: 1px solid var(--c-lightgrey);
}
.container:hover input ~ .checkmark {
  background-color: transparent;
}
.container input:checked ~ .checkmark {
  background-color: transparent;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  left: 50%;
  top: 50%;
  width: 14px;
  height: 8px;
  border: solid var(--c-accent100);
  border-width: 2px 2px 0px 0;
  -webkit-transform: translate(-50%, -65%) rotate(135deg);
  -ms-transform: translate(-50%, -65%) rotate(135deg);
  transform: translate(-50%, -65%) rotate(135deg);
}
/* END: INPUT */
/* FOOTER */
footer {
  background: var(--c-accent100);
  color: var(--c-white);
}
footer > * {
  transition: var(--duration-1) var(--timing);
}
footer .container {
  padding: 104px var(--p-inline) 64px;
  display: flex;
  flex-direction: column;
  grid-gap: 70px;
}
footer .container > .wrapper {
  display: flex;
  justify-content: space-between;
}
footer .menu {
  display: flex;
  grid-gap: 1.25rem;
}
footer .menu > * {
  display: flex;
  flex-direction: column;
  min-width: 202px;
}
footer .container > p {
  font-size: var(--size-label);
  line-height: var(--size-label-lh);
}
footer .menu > div > p {
  font-size: 21px;
  margin-bottom: 1rem;
}
/* END: FOOTER */
