:root {
  --c-accent100: #212529;
  --c-accent85: #424649;
  --c-darkgrey: #a6a6ab;
  --c-lightgrey: #f4f4f4;
  --c-white: #fff;

  --size-h1: 4rem;
  --size-h2: 2.5rem;
  --size-h3: 2rem;
  --size-body: 18px;
  --size-label: 14px;
  --size-accordion-title: 3rem;

  --size-body-lh: 25px;
  --size-label-lh: 20px;

  --duration-1: 0.4s;
  --duration-2: 0.6s;
  --duration-3: 0.8s;
  --timing: ease;

  --p-header: 2% 6%;
  --p-header-inl-mobile: 1.5rem;
  --p-block: 140px;
  --p-block-mobile: 6rem;
  --p-inline: 100px;
  --p-inline-mobile: 1.5rem;
}
/* RESET HTML */
/* Box sizing rules */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}
/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}
/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}
/* A elements that don't have a class get default styles */
a,
a:not([class]) {
  text-decoration-skip-ink: auto;
  text-decoration: none;
  color: currentColor;
}
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}
/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}
/* END: RESET HTML */
body {
  font-family: "Inter Tight", sans-serif;
  font-weight: 300;
}
header {
  height: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: var(--p-header);
}
main {
  display: flex;
  flex-direction: column;
}
/* GLOBAL */
.fluid-heading-1,
.fluid-heading-2,
.fluid-heading-3 {
  font-weight: 300 !important;
}
.fluid-heading-1 {
  font-size: var(--size-h1);
}
.fluid-heading-2 {
  font-size: var(--size-h2);
}
.fluid-heading-3 {
  font-size: var(--size-h3);
}
.fluid-body,
.fluid-txt {
  font-size: var(--size-body);
  line-height: var(--size-body-lh);
}
.fluid-label {
  font-size: var(--size-label);
  line-height: var(--size-label-lh);
}
/* END: GLOBAL */
/* HERO */
section[data-section="home-hero"] {
  min-height: 100dvh;
  background-color: var(--c-accent100);
  display: flex;
  flex-wrap: wrap;
}
section[data-section="home-hero"] * {
  transition: var(--duration-1) var(--timing);
}
section[data-section="home-hero"] > * {
  width: 50%;
  height: inherit;
  overflow: hidden;
}
section[data-section="home-hero"] .container {
  padding: 5% var(--p-inline);
  display: flex;
  flex-direction: column;
  justify-content: end;
}
section[data-section="home-hero"] .container .contxt {
  text-transform: capitalize;
  color: var(--c-white);
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
section[data-section="home-hero"] .hero-img figure {
  width: 100%;
  height: 100%;
}
section[data-section="home-hero"] .hero-img figure > * {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: bottom center;
}
/* END: HERO */
section[data-section="home-expertise"] {
  padding: var(--p-block) var(--p-inline);
  display: flex;
  flex-direction: column;
  grid-gap: 2.5rem;
}
section[data-section="home-expertise"] p {
  width: 55%;
}
section[data-section="home-expertise"] .grid-expertise {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.25rem;
  width: max-content;
}
section[data-section="home-expertise"] .scrolling-ctn {
  overflow-x: auto;
}
section[data-section="home-expertise"] .grid-expertise .expertise-item {
  width: 313px;
  height: 375px;
  border-radius: 0.5rem;
  overflow: hidden;
}
section[data-section="home-expertise"] .grid-expertise .expertise-item * {
  width: inherit;
  height: inherit;
}
section[data-section="home-learnmore"] .learnmore-section {
  height: 60%;
  background: var(--c-lightgrey);
}
/* BUTTON */
.btn {
  width: fit-content;
  padding: 1rem 2.5rem;
  font-size: var(--size-body);
  line-height: var(--size-body-lh);
  background: var(--c-white);
  color: var(--c-accent100);
  text-align: center;
  border-radius: 4rem;
}
/* END: BUTTON */
